<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="MsDbErrLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/err.txt" />
	</targets>
	<rules>
		<logger name="*" level="Error" writeTo="MsDbErrLog" />
	</rules>
</nlog>